.jumbotron {
    background-color:#8b99af; 
    color: white;
    margin-bottom: 20px
}

h1 {
    font-size: 60px;
}

.blue-background {
    background-color: blue;
    color: white;
}
.space {
    margin-bottom: 10px;
}